.mision .box-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}
.mision .box-container .box {
  display: flex;
  background: #171717;
  height: 48rem;
  width: 100rem;
  text-align: center;
  border-radius: 1rem;
}
.mision .box-container .box .col-1 p {
  font-size: 2.2rem;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 2rem 6rem;
}

.mision .box-container .box img {
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: 1rem;
}
@media screen and (max-width: 1167px) {
  .mision .box-container {
    padding: 0;
    margin: 5.5rem;
  }
  .mision .box-container .box {
    display: block;
    height: 80%;
    width: 95%;
    justify-content: center;
    padding: 0;
    margin: 0%;
  }
  .mision .box-container .box img {
    margin: 0;
    max-width: 95%;
    align-items: center;
  }
  .mision .box-container .box .col-1 p {
    padding: 0 2rem 2rem 2rem;
    font-size: 2.5rem;
    margin: 2rem;
  }
}
