// .home .fondo {
//   background-size: cover;
//   background-position: top;
//   background-attachment: fixed;
//   max-height: 100%;
//   min-width: 100%;
//   max-width: min-content;
//   z-index: -1;
//   overflow: hidden;
//   position: fixed;
// }
.home {
  min-height: 90vh;
  background: url(../../assets/images/seguridad/guardia.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}
.home .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 25rem;
  text-align: center;
}
.home .content h1 {
  font-size: 5rem;
  color: white;
  padding: 0 1rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.home .content p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem;
}
.home .content button {
  height: 5rem;
  width: 20rem;
  border-radius: 1rem;
  background: #f9580e;
  color: #eee;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin: 4rem 0;
  border-color: #f9580e;
}
.home .content button:hover {
  background: none;
  border: 0.2rem solid #f9580e;
}
