.clientes {
  color: #171717;
}
.clientes .title {
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: white;
}
.clientes .box-container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  flex-wrap: wrap;
}

.clientes .box-container .box {
  width: 28rem;
  padding-bottom: 1rem;
  text-align: center;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.3);
  background: #0c0b0b;
  margin: 4rem 2rem;
}
.clientes .box-container .box img {
  height: 20rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -4rem;
  border: 0.6rem solid #f9580e;
  border-left: 0.6rem solid #ffc246;
  border-bottom: 0.6rem solid #ffc246;
}
.clientes .box-container .box h3 {
  font-size: 2rem;
  color: #f9580e;
  padding: 0 0.5rem;
}
.clientes .box-container .box p {
  font-size: 1.4rem;
  color: #fff;
  padding: 1.3rem 0.1rem;
}
.clientes .box-container .box .stars .icono {
  font-size: 1.6rem;
  color: #ffc246;
  padding: 1.3rem 0.1rem;
}
